bioc>=2.0
nltk
docopt
transformers
bllipparser==2021.11.7
PyYAML
Cython
intervaltree
JPype1==0.6.3
medspacy
networkx
numpy
pandas
ply
PyStanfordDependencies
spacy
stanza
tqdm
xlrd
cachetools
openpyxl
medtext-commons
medtext-conv
medtext-deid
medtext-neg
medtext-ner
medtext-parse
medtext-preprocess
medtext-secsplit
medtext-ssplit